@model GestionAlumnos.Models.AlumnoModel


@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Alumno</h2>

<h3>¿Está seguro que desea eliminar este Alumno?</h3>
<div>
    <h4></h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.rut)
                <input type="hidden" name="rut" id="rut" value="1" class="form-control" />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.edad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sexo)
            </dt>

            <dd>
                <span>
                    @(Model.sexo == 1 ? "Masculino" : "Femenino" )
                </span>
            </dd>

        </dl>



        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index", "Home")
        </div>
    }
</div>
